/* Layout for the body of the app */
.app__body {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 20px;
}

/* Portfolio section */
.app__portfolio {
  flex: 1;
  max-width: 300px;
  padding-right: 20px;
}

/* Chart section */
.app__chart {
  flex: 3;
}
